<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Contact Us</title>
</head>

<body>
<div class="w3-container w3-emerald">

    <h1>Contact Us</h1>

</div>
    
    <div class="w3-container w3-olive">

            <a href="/"class="w3-bar-item w3-button">Home</a>
            <a href="{% url 'rate_the_view:upload' %}" class="w3-bar-item w3-button">Upload</a>
            <a href="{% url 'rate_the_view:profile' request.user.username %}" class="w3-bar-item w3-button">Profile</a>
            <a href="/contact-us/"class="w3-bar-item w3-button">Contact Us</a>

        
    </div>


    <div class="w3-container w3-pale-green">
    <h3>Get in Touch</h3>
    </div>

    <div class="w3-container w3-olive">
    <p>If you have any questions, feedback, or issues with the site, feel free to contact us.</p>

    <p><strong>Email:</strong> ratetheview@mail.com</p>

    </div>

</div>
</body>
</html>