<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Sign Up</title>
</head>

<body>
<div class="container">

    <div class="w3-container w3-emerald">
    <h1>Sign Up</h1>
    </div>


    
    <div class="container-fluid">


            <div class="w3-bar w3-olive">
            <a href="/"class="w3-bar-item w3-button">Home</a>
            <a href="#"class="w3-bar-item w3-button">Upload</a>
            <a href="#"class="w3-bar-item w3-button">Profile</a>
            <a href="/contact-us/"class="w3-bar-item w3-button">Contact Us</a>
            <a href="/signup/"class="w3-bar-item w3-button">Sign Up</a>
            <a href="/login/"class="w3-bar-item w3-button">Login</a>
            </div>



    </div>

    <div class="w3-container w3-pale-green">
    <h3>Create an Account</h3>
    </div>

    <form method="post">

        <div class="w3-container w3-olive w3-padding-32">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label><br>
            <input type="text" name="username" class="form-control" placeholder="Enter username">
        </div>

        <div class="form-group">
            <br><label for="email">Email</label><br>
            <input type="email" name="email" class="form-control" placeholder="Enter email...">
        </div>

        <div class="form-group">
            <br><label for="password1">Password</label><br>
            <input type="password" name="password1" id="password1" class="form-control" placeholder="Enter password">
        </div>

        <div class="form-group">
            <br><label for="password2">Confirm Password</label><br>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm password">
        </div>
        <span id="password-message"></span>
        <br><button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    </form>

    <div class="w3-container w3-pale-green">
    <p>Already have an account? <a href="/login/">Log in here</a>.</p>
    </div>
    
</div>
{% load static %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="{% static 'passwords.js' %}"></script>
</body>
</html>