<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload View</title>
</head>

<body>

<!-- HEADER -->
<div class="w3-container w3-emerald">
    <h1>Rate the View</h1>
</div>

<!-- NAVBAR -->
<div class="w3-bar w3-olive">
    <a href="{% url 'rate_the_view:home' %}" class="w3-bar-item w3-button">Home</a>
    <a href="{% url 'rate_the_view:upload' %}" class="w3-bar-item w3-button w3-green">Upload</a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'rate_the_view:profile' request.user.username %}" class="w3-bar-item w3-button">Profile</a>
        <a href="{% url 'rate_the_view:logout' %}" class="w3-bar-item w3-button">Logout</a>
    {% else %}
        <a href="{% url 'rate_the_view:login' %}" class="w3-bar-item w3-button">Login</a>
    {% endif %}

    <a href="{% url 'rate_the_view:contact_us' %}" class="w3-bar-item w3-button">Contact Us</a>
</div>

<!-- CONTENT -->
<div class="w3-container w3-pale-green w3-padding">

    <h2>Upload a View</h2>

    <form method="post" enctype="multipart/form-data" class="w3-container">

        {% csrf_token %}

        <p>
            <img id="image-preview"
            src=""
            style="display:none; max-width:300px; margin-top:10px; border-radius:8px;">
            <label class="w3-text-olive"><b>Image</b></label>
            <input class="w3-input" type="file" name="image" id="id_image" required>
        </p>

        <p>
            <label class="w3-text-olive"><b>Title</b></label>
            <input class="w3-input w3-border" type="text" name="title" placeholder="Enter title" required>
        </p>

        <p>
            <label class="w3-text-olive"><b>Location</b></label>
            <input class="w3-input w3-border" type="text" name="location" placeholder="Enter location">
        </p>

        <p>
            <label class="w3-text-olive"><b>Description</b></label>
            <textarea class="w3-input w3-border" name="description" rows="4" placeholder="Describe the view"></textarea>
        </p>

        <button type="submit" class="w3-button w3-green">Upload</button>

    </form>

</div>

{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'upload.js' %}"></script>
</body>
</html>